body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image{
  background-image: url("images/sh12.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: blur(8px);
  -webkit-filter: blur(6px);
}

.hero-img {
  background-image: url("images/kd11.jpg"); 
}

.hero-img1 {
  background-image: url("images/sh11.jpg"); 
}
.hero-img2 {
  background-image: url("images/wm10.jpg"); 
}
.hero-img3 {
  background-image: url("images/ac6.jpeg"); 
}
.hero-img3 {
  background-image: url("images/ac6.jpeg"); 
}

.hero-text {
  background-color: rgb(0,0,0);  
  background-color: rgb(0,0,0,0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center; 
}
.txt{
color: white;
}

.log{
  width: 30%;
}
.log span{
padding-left: 30px;
}
.log button{
  margin-bottom: 20px;
}

.navbar i{
margin-top: 0px;
margin-left: 0px;
}
.navbar-brand{
  width: 110px;
}
.form-inline{
  padding-right: 30px;
}
.add{
    color: black;
    text-decoration: none;
    padding-left: 10px;
}
.card{
 margin-top: 30px;
 margin-right: 30px;
}
.card img{
  height: 300px;
}

.all .col{
  margin-top: 30px;
}
.shadow button, .log button{
  background-color: #EB8815;
}

.card1 img{
  height: 400px;
  width: 500px;
}
.card2{
  margin-top: 20px;
  background-color: #E1DDDD;
  padding-top: 0px ;
  padding-bottom: 0px;
  font-weight: bold;
  font-size: 30px;
}

.shadow, .log{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow .thumb{
  width: 30px;
  height: 30px;
}
.shadow label{
  padding-left: 50px;
  padding-right: 30px;
}
.shadow input{
  padding-left: 50px;
}
.shadow h2{
 text-align: center;
color: #EB8815;
}
.pesa label{
  margin-left: 100px;
}
.line {
  border: 10px solid grey;
  border-radius: 5px;
}
.buycard{
  width: 50%
}

/* Style the modal footer button */
.mode button{
  background-color: #EB8815;
  width: 200px;
  border-radius: 40px;
  margin-right: 130px;
}

/* Style the search box inside the navigation bar */

.foot{
  background-color: black;
  color: white;
  margin-top: 30px;
}
.footer{
  background-color: black;
  color: white;
}
.footer p{
  padding-top: 10px;
  margin-left: 20px;
}
.footbelow{
  padding-top: 11%;
}
/* icons css */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}


.fa-instagram {
  background: #bb0000;
  color: white;
}


/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .shadow, .log{
    width: 100%;
  }
.card1 img{
  width: 100%

}

.hero-text {
  top: 85%;
  width: 55%;
}
.access{
  width: 80%; 
}
.mode button {
  margin-right: 100px;
  width: 150px;
}
.pesa label{
  margin-left: 31px;
}
.hero-text {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20p
}


